html {
  scroll-behavior: smooth;
  font-size: 12pt;
}


.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav-moj{
  background-color:rgb(240, 240, 240);
  
}

.nove{
  text-align: center;
  width: 93%;
  position: absolute;
}

.icona{
  margin-left: 15%;
}

.navbar-nag{
  text-align: left;
}

.nav-itej {
  list-style-type: none;
  margin-top: 20px;
  
}

.nav-itej a {
  color: rgb(51, 51, 51);
}

.o-mne{
  max-width: 60%;
  margin:0 auto;
  text-align: center;
  font-weight: 500;
  margin-top: 3%;
}

.o-mne p{
  margin-bottom: 3%;
  font-weight: 600;
}

.o-mne a {
  text-decoration: none;
  
  border: 3px solid #db4e92;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 80px;
  color: #db4e92;
  font-weight: 600;
  
  
}

.o-mne a:hover{
  background-color: #db4e92;
  color: white;
  border-color: #db4e92;
}

.first{
  
}

h1{
  color: #db4e92;
  margin-bottom: 10%;
  font-family:  'Montserrat', sans-serif;
  font-size: 25pt;
}

h2{
  color: #411a70;
  font-size: 18pt;
  font-weight: 600;
}

.Experience-moje{
  max-width: 40%;
  text-align: left;
  position: absolute;
}

.exp-img{
  width: 100%;
  text-align: right;
  float: left;
}

.experience-hlavne{
  max-width: 100%;
  margin-top: 5%;
  
  
}

.exp-text {
  width: 100%;
  margin-top: 70%;
  margin-left: 30%;
  
}

.education{
  text-align: left;
  width: 100%;
  
}

.edu-text{
  width: 40%;
  margin-top: 70%;
  margin-left: 50%;
  position: absolute;
}

.edu-img{
  width: 100%;
  text-align: left;
  float: right;
}

.container {
  width: 100%;
}


.main-img{
  margin-top: 5%;
  text-align: center;
}
