.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav-moj{
  background-color:rgb(240, 240, 240);
  
}

.nove{
  text-align: center;
  width: 90%;
  position: absolute;
}

.icona{
  margin-left: 15%;
}

.navbar-nag{
  color: red;
  text-align: left;
}

.nav-itej {
  list-style-type: none;
  margin-top: 20px;
  
}

.nav-itej a {
  color: rgb(0, 0, 0);
}

.o-mne{
  max-width: 60%;
  margin:0 auto;
  text-align: center;
  font-weight: 500;
  margin-top: 3%;
}

.o-mne p{
  margin-bottom: 10%;
  font-weight: 600;
}

.o-mne a {
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid purple;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 80px;
  color: purple;
  font-weight: 600;
  
  
}

.o-mne a:hover{
  background-color: purple;
  color: white;
  border-color: purple;
}

.first{
  
}

h1{
  color: purple;
  margin-bottom: 10%;
  font-family:  'Montserrat', sans-serif;
}

.Experience-moje{
  max-width: 40%;
  text-align: justify;
  margin-left: 60%;


}

.experience-hlavne{
  max-width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  
}

.education{
  text-align: center;
  width: 100%;
  background-color: rgb(224, 224, 224);
}

.container {
  width: 100%;
}


.main-img{
  margin-top: 5%;
  text-align: center;
}
