.subheading {
  font-weight: 600;
}

.date {
  min-width: 18rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav-moj{
  background-color:white;
}

.nove{
  margin-left: 45%;
}

.icona{
  margin-left: 15%;
}

.navbar-nag{
  color: red;
  text-align: left;
}

.nav-itej {
  list-style-type: none;
  margin-top: 20px;
  
}

.nav-itej a {
  color: rgb(0, 0, 0);
}

.about-me{
  max-width: 40%;
  margin-bottom: 10%;
  text-align: justify;


}

.first{
  margin-top: 100%;
}

h1{
  color: purple;
  margin-bottom: 10%;
  font-family:  'Montserrat', sans-serif;
}

.Experience-moje{
  max-width: 40%;
  text-align: justify;
  margin-left: 60%;


}

.experience-hlavne{
  max-width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  
}

.education{
  text-align: center;
  width: 100%;
  background-color: rgb(224, 224, 224);
}

.container {
  width: 100%;
}

